/* Стили для навигации */
.nav {
  display: flex;
  gap: 1rem;
}

.nav-link {
  color: white !important;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ffc107 !important; /* Желтый цвет при наведении */
}

.btn-link {
  background: none;
  border: none;
  padding: 0;
  color: white !important;
  cursor: pointer;
}

.btn-link:hover {
  color: #ffc107 !important; /* Желтый цвет при наведении */
}